.div-contenedor-flex{
   text-align: center;
}

.div-contador{
    color: #78a1a6;
    font-size: medium;     
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0px auto; 
    background-color: #CFE8DE;
    width: 320px;
    border-radius: 20px;
    border: 3px solid #78a1a6;
    min-height: 50%;
    padding: 20px;
    
}

.div-contador-estilo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
    
    
}

.div-boton-agregar{
    padding-bottom: 5px;

}

.boton-agregar{
    border: 3px solid #78a1a6;
    color: #faf0e5;
    background-color: #78a1a6;
    border-radius: 12px;
    font-size: 20px;
    width: auto;
    font-family: "Poppins", sans-serif;
}

.boton-agregar:hover {
    color: #F1D6D5;
    background-color: #DB9996;
    border: 3px solid #F1D6D5;
    font-family: "Poppins", sans-serif;

}


.boton-sr{
    
    color: #78a1a6;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    border-color: transparent;
    padding: 10px;
}

.boton-signos{
    font-size: 25px;
}

.boton-signos:hover{
    
    color:#DB9996;
    font-size: 30px;

}


.boton-resta{
    font-size: 25px;
}