.detail-container {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #78a1a6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15%;
    padding-right: 15%;
}

.detail-fuentes{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #78a1a6;
}

