.navbar-container{
    display: flex;
    flex-direction: row;       
    background-color: #faf0e5;
    justify-content: space-around;
    align-items:flex-start;
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;    
    flex-wrap: inherit;
    text-align: center;
    
   
   
    
    
} 

.div-logos-bar{
    text-align: center;
}

.logos-redes{
    padding-left: 15px;
    text-align: center;
    
    
}


.barra-menu{
    list-style-type: none;
    display: inline-block;
    flex-direction: row;   
    font-size: large;    
    margin-top: 0%;
    
    
   
}

.submenuinactiva{
    text-decoration: overline;
    color: #DB9996;
    width: 100%;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
}

.submenuactiva{
    text-decoration: overline;
    color: #DB9996;
    font-weight: bold;
    width: 100%;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
}



li{
    margin-left: 10px;
    margin-right: 10px;
   
    
   
    
    
}

.pgactiva{
    color: rgb(120, 161, 166);
    text-decoration: none;
    font-weight: bold;
    padding-right: 8px;
    
    
}

.pginactiva{
    color: rgb(120, 161, 166);
    text-decoration: none;
    padding-right: 8px;
    
}