.navbar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: #faf0e5;
    justify-content: space-around;
    align-items:flex-start;
} 

.barra-menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
    
   
}

li{
    margin-left: 10px;
    margin-right: 10px;
   
    
    
}

.pgactiva{
    color: blueviolet;
    text-decoration: none;
}

.pginactiva{
    color: rgb(120, 161, 166);
    text-decoration: none;
}